In [15]:
import pandas as pd
df_raw = pd.read_excel("../data/서울시_시내버스_정류소_구별.xlsx",usecols='B:D')

# 'ID' 열에서 하이픈 제거 후 정수형으로 변환
df_raw['ID'] = df_raw['ID'].str.replace('-', '').astype(int)

# 결과 확인
df_raw

      자치구     ID          정류소 명
0     종로구   1001        종로2가사거리
1     종로구   1002    창경궁.서울대학교병원
2     종로구   1003      명륜3가.성대입구
3     종로구   1004       종로2가.삼일교
4     종로구   1005  혜화동로터리.여운형활동터
...   ...    ...            ...
6635  강동구  25995          우성아파트
6636  강동구  25996          우성아파트
6637  강동구  25997        라움포레아파트
6638  강동구  25998           성내시장
6639  강동구  25999    천호우체국.로데오거리

[6640 rows x 3 columns]

In [16]:
print(len(df_raw['자치구'].unique()),df_raw['자치구'].unique())

25 ['종로구' '중구' '용산구' '성동구' '광진구' '동대문구' '중랑구' '성북구' '강북구' '도봉구' '노원구' '은평구'
 '서대문구' '마포구' '양천구' '강서구' '구로구' '금천구' '영등포구' '동작구' '관악구' '서초구' '강남구' '송파구'
 '강동구']

In [17]:
df_local_row = pd.read_csv("../data/버스노선별_정류장별_시간대별_승하차_인원_정보.csv")

df_local_row

/tmp/ipykernel_6346/787219399.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_local_row = pd.read_csv("../data/버스노선별_정류장별_시간대별_승하차_인원_정보.csv")

,Unnamed: 0,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
0,0,202403,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리(00075),108,166,82,...,290,378,196,255,233,243,146,10,서울간선버스,20240403
1,1,202403,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리(00032),9,12,173,...,0,0,0,0,0,0,0,51,서울심야버스,20240403
2,2,202403,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리(00066),89,123,0,...,259,450,256,373,221,238,136,10,서울간선버스,20240403
3,3,202403,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리(00089),0,0,0,...,0,0,0,0,0,0,0,51,서울심야버스,20240403
4,4,202403,100,100번(하계동~용산구청),100000002,1002,창경궁.서울대학교병원(00031),0,0,0,...,27,34,22,42,42,14,5,10,서울간선버스,20240403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42253,42253,202403,9404,9404번(분당구미~신사역),999800003,~,구미동차고지(기점가상)(00001),0,6,0,...,1,0,3,0,6,0,2,50,서울광역버스,20240403
42254,42254,202403,9409,9409번(구미동차고지~신사역),999800004,~,구미동차고지(종점가상)(00086),0,1,0,...,0,0,0,0,1,0,0,50,서울광역버스,20240403
42255,42255,202403,9404,9404번(분당구미~신사역),999800004,~,구미동차고지(종점가상)(00060),0,8,0,...,2,0,0,0,11,0,1,50,서울광역버스,20240403
42256,42256,202403,707,707번(가좌동~서울역),999800005,~,가좌동종점(종점가상)(00127),0,3,0,...,1,0,1,0,4,0,1,10,서울간선버스,20240403
42257,42257,202403,9707,9707번(고양 가좌동~영등포역),999800005,~,가좌동종점(종점가상)(00078),0,6,0,...,2,0,3,0,1,0,1,50,서울광역버스,20240403

In [18]:
len(df_local_row['노선번호'].unique())

640

In [19]:
# 예: '버스정류장ARS번호' 열에서 '~' 제거하고 int로 변환
df_local_row['버스정류장ARS번호'] = pd.to_numeric(df_local_row['버스정류장ARS번호'], errors='coerce')

df_local_row = df_local_row.dropna(subset=['버스정류장ARS번호'])
df_local_row['버스정류장ARS번호'] = df_local_row['버스정류장ARS번호'].astype(int)

df_local_row['버스정류장ARS번호'].dtype

/tmp/ipykernel_6346/1874860582.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_local_row['버스정류장ARS번호'] = df_local_row['버스정류장ARS번호'].astype(int)

dtype('int64')

In [20]:
df_local = df_local_row.iloc[:, 2:-1]
df_local

,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명
0,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리(00075),108,166,82,156,0,...,312,290,378,196,255,233,243,146,10,서울간선버스
1,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리(00032),9,12,173,193,140,...,0,0,0,0,0,0,0,0,51,서울심야버스
2,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리(00066),89,123,0,1,0,...,412,259,450,256,373,221,238,136,10,서울간선버스
3,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리(00089),0,0,0,0,103,...,0,0,0,0,0,0,0,0,51,서울심야버스
4,100,100번(하계동~용산구청),100000002,1002,창경궁.서울대학교병원(00031),0,0,0,0,0,...,92,27,34,22,42,42,14,5,10,서울간선버스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42026,9714,9714번(교하운정~서울역),277103814,63735,난방공사(가상)(00003),0,0,0,0,0,...,0,0,0,0,0,1,0,0,50,서울광역버스
42027,673,673번(상동기점~이대부고),277104249,15452,고강지하차도입구(경유)(00084),0,1,0,0,0,...,0,2,0,1,0,0,0,2,10,서울간선버스
42028,673,673번(상동기점~이대부고),277104250,15451,고강지하차도입구(경유)(00026),0,0,0,0,0,...,0,7,0,4,0,5,0,4,10,서울간선버스
42029,673,673번(상동기점~이대부고),277104251,15453,원종IC(경유)(00085),0,2,0,0,0,...,0,9,0,7,0,7,0,2,10,서울간선버스
42030,673,673번(상동기점~이대부고),277104252,15450,원종IC(경유)(00025),0,0,0,0,0,...,0,3,0,0,0,0,0,1,10,서울간선버스

In [21]:
# 두 데이터 연결 (ID ↔ 버스정류장ARS번호)
df_merged = pd.merge(df_raw, df_local, left_on='ID', right_on='버스정류장ARS번호', how='inner')

# 4번째(인덱스 3), 5번째(인덱스 4) 열 이름 가져오기
cols_to_drop = df_merged.columns[[5, 6, 7]]

# 열 제거
df_merged = df_merged.drop(columns=cols_to_drop)

# 결과 확인
df_merged

,자치구,ID,정류소 명,노선번호,노선명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,...,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명
0,종로구,1001,종로2가사거리,741,741번(진관차고지~헌인릉입구),108,166,82,156,0,...,312,290,378,196,255,233,243,146,10,서울간선버스
1,종로구,1001,종로2가사거리,N37,N37번(송파공영차고지~진관공영차고지),9,12,173,193,140,...,0,0,0,0,0,0,0,0,51,서울심야버스
2,종로구,1001,종로2가사거리,470,470번(상암차고지~안골마을),89,123,0,1,0,...,412,259,450,256,373,221,238,136,10,서울간선버스
3,종로구,1001,종로2가사거리,N37,N37번(진관공영차고지~송파공영차고지),0,0,0,0,103,...,0,0,0,0,0,0,0,0,51,서울심야버스
4,종로구,1002,창경궁.서울대학교병원,100,100번(하계동~용산구청),0,0,0,0,0,...,92,27,34,22,42,42,14,5,10,서울간선버스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32833,강동구,25722,상일초등학교,341,341번(강동공영차고지~우면동),0,0,0,0,0,...,117,55,117,70,38,31,0,0,10,서울간선버스
32834,강동구,25722,상일초등학교,370,370번(강동공영차고지~충정로역),0,0,0,0,0,...,452,223,384,202,225,155,44,23,10,서울간선버스
32835,강동구,25753,강일리버파크1단지정문,342,342번(강동차고지~압구정로데오역),3,93,3,18,0,...,11,348,13,309,10,308,2,219,10,서울간선버스
32836,강동구,25753,강일리버파크1단지정문,강동02,강동02(가래여울~암사동서원마을),0,10,0,0,0,...,3,101,1,89,2,64,0,43,30,서울마을버스
32837,강동구,25753,강일리버파크1단지정문,3318,3318번(강동차고지~미사강변도시~마천동),2,116,6,53,0,...,2,302,4,342,3,272,3,174,20,서울지선버스

In [22]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32838 entries, 0 to 32837
Data columns (total 55 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   자치구        32838 non-null  object
 1   ID         32838 non-null  int64
 2   정류소 명      32838 non-null  object
 3   노선번호       32838 non-null  object
 4   노선명        32838 non-null  object
 5   00시승차총승객수  32838 non-null  int64
 6   00시하차총승객수  32838 non-null  int64
 7   1시승차총승객수   32838 non-null  int64
 8   1시하차총승객수   32838 non-null  int64
 9   2시승차총승객수   32838 non-null  int64
 10  2시하차총승객수   32838 non-null  int64
 11  3시승차총승객수   32838 non-null  int64
 12  3시하차총승객수   32838 non-null  int64
 13  4시승차총승객수   32838 non-null  int64
 14  4시하차총승객수   32838 non-null  int64
 15  5시승차총승객수   32838 non-null  int64
 16  5시하차총승객수   32838 non-null  int64
 17  6시승차총승객수   32838 non-null  int64
 18  6시하차총승객수   32838 non-null  int64
 19  7시승차총승객수   32838 non-null  int64
 20  7시하차총승객수   32838 non-null  int64
 21  8시승차총승객수   32838 non-null  int64
 22  8시하차총승객수   32838 non-null  int64
 23  9시승차총승객수   32838 non-null  int64
 24  9시하차총승객수   32838 non-null  int64
 25  10시승차총승객수  32838 non-null  int64
 26  10시하차총승객수  32838 non-null  int64
 27  11시승차총승객수  32838 non-null  int64
 28  11시하차총승객수  32838 non-null  int64
 29  12시승차총승객수  32838 non-null  int64
 30  12시하차총승객수  32838 non-null  int64
 31  13시승차총승객수  32838 non-null  int64
 32  13시하차총승객수  32838 non-null  int64
 33  14시승차총승객수  32838 non-null  int64
 34  14시하차총승객수  32838 non-null  int64
 35  15시승차총승객수  32838 non-null  int64
 36  15시하차총승객수  32838 non-null  int64
 37  16시승차총승객수  32838 non-null  int64
 38  16시하차총승객수  32838 non-null  int64
 39  17시승차총승객수  32838 non-null  int64
 40  17시하차총승객수  32838 non-null  int64
 41  18시승차총승객수  32838 non-null  int64
 42  18시하차총승객수  32838 non-null  int64
 43  19시승차총승객수  32838 non-null  int64
 44  19시하차총승객수  32838 non-null  int64
 45  20시승차총승객수  32838 non-null  int64
 46  20시하차총승객수  32838 non-null  int64
 47  21시승차총승객수  32838 non-null  int64
 48  21시하차총승객수  32838 non-null  int64
 49  22시승차총승객수  32838 non-null  int64
 50  22시하차총승객수  32838 non-null  int64
 51  23시승차총승객수  32838 non-null  int64
 52  23시하차총승객수  32838 non-null  int64
 53  교통수단타입코드   32838 non-null  int64
 54  교통수단타입명    32838 non-null  object
dtypes: int64(50), object(5)
memory usage: 13.8+ MB

In [23]:
print(len(df_merged['자치구'].unique()),df_merged['자치구'].unique())

25 ['종로구' '중구' '용산구' '성동구' '광진구' '동대문구' '중랑구' '성북구' '강북구' '도봉구' '노원구' '은평구'
 '서대문구' '마포구' '양천구' '강서구' '구로구' '금천구' '영등포구' '동작구' '관악구' '서초구' '강남구' '송파구'
 '강동구']

In [24]:

# 시간대 리스트 (0~23시), 컬럼명이 실제 데이터에 맞게 구성되어야 함
hours = list(range(24))

# 새로운 통합 컬럼 생성
for hour in hours:
    # 실제 컬럼명 처리 (0시는 '00시', 나머지는 '1시', '2시' 등으로 가정)
    if hour == 0:
        승차_col = "00시승차총승객수"
        하차_col = "00시하차총승객수"
        col_name = "0시"
    else:
        승차_col = f"{hour}시승차총승객수"
        하차_col = f"{hour}시하차총승객수"
        col_name = f"{hour}시"

    df_merged[col_name] = df_merged[승차_col] + df_merged[하차_col]

# 원래 승차/하차 컬럼 삭제 (선택사항)
drop_cols = ["00시승차총승객수", "00시하차총승객수"] + \
            [f"{i}시승차총승객수" for i in range(1, 24)] + \
            [f"{i}시하차총승객수" for i in range(1, 24)]

df_day = df_merged.drop(columns=drop_cols)

In [25]:
df_day

,자치구,ID,정류소 명,노선번호,노선명,교통수단타입코드,교통수단타입명,0시,1시,2시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,종로구,1001,종로2가사거리,741,741번(진관차고지~헌인릉입구),10,서울간선버스,274,238,0,...,797,915,907,961,1026,999,602,574,488,389
1,종로구,1001,종로2가사거리,N37,N37번(송파공영차고지~진관공영차고지),51,서울심야버스,21,366,229,...,0,0,0,0,0,0,0,0,0,0
2,종로구,1001,종로2가사거리,470,470번(상암차고지~안골마을),10,서울간선버스,212,1,0,...,959,733,812,947,960,848,671,706,594,374
3,종로구,1001,종로2가사거리,N37,N37번(진관공영차고지~송파공영차고지),51,서울심야버스,0,0,185,...,0,0,0,0,0,0,0,0,0,0
4,종로구,1002,창경궁.서울대학교병원,100,100번(하계동~용산구청),10,서울간선버스,0,0,0,...,411,335,365,366,266,130,119,56,84,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32833,강동구,25722,상일초등학교,341,341번(강동공영차고지~우면동),10,서울간선버스,0,0,0,...,217,380,389,497,555,269,172,187,69,0
32834,강동구,25722,상일초등학교,370,370번(강동공영차고지~충정로역),10,서울간선버스,0,0,0,...,1003,1072,1467,1559,1672,872,675,586,380,67
32835,강동구,25753,강일리버파크1단지정문,342,342번(강동차고지~압구정로데오역),10,서울간선버스,96,21,0,...,145,209,274,272,385,467,359,322,318,221
32836,강동구,25753,강일리버파크1단지정문,강동02,강동02(가래여울~암사동서원마을),30,서울마을버스,10,0,0,...,80,117,180,138,173,192,104,90,66,43
32837,강동구,25753,강일리버파크1단지정문,3318,3318번(강동차고지~미사강변도시~마천동),20,서울지선버스,118,59,0,...,151,240,306,346,380,441,304,346,275,177

In [36]:
df_day['교통수단타입코드'].unique()

array([10, 51, 20, 40, 30, 50])

In [37]:
df_day['교통수단타입명'].unique()

array(['서울간선버스', '서울심야버스', '서울지선버스', '서울순환버스', '서울마을버스', '서울광역버스'],
      dtype=object)

In [38]:
len(df_day[df_day['자치구']=='강남구']['ID'].unique())

415

In [ ]:
df_day.to_csv('../data/버스_정류장별_시간대_이용자.csv')

In [41]:
# 1. 필요한 열만 남기기 (자치구 + 시간대 열들)
columns_to_keep = ['자치구', 'ID'] + [col for col in df_day.columns if col.endswith('시')]
df_cleaned = df_day[columns_to_keep]

# 2. 자치구별 정류소 개수 (ID의 고유값 개수)
stop_counts = df_cleaned.groupby('자치구')['ID'].nunique().reset_index(name='정류소 수')

# 3. 자치구별 시간대별 이용자 수 합산
usage_sums = df_cleaned.drop(columns='ID').groupby('자치구').sum(numeric_only=True).reset_index()

# 4. 정류소 수와 시간대별 이용자 수 합계 합치기
df_result = pd.merge(stop_counts, usage_sums, on='자치구')

# Identify columns with hour data
hour_columns = [col for col in df_result.columns if "시" in col]

# Divide the hour values by 30 and cast to int
df_result[hour_columns] = df_result[hour_columns].div(30).astype(int)
df_result.head()

,자치구,정류소 수,0시,1시,2시,3시,4시,5시,6시,7시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,강남구,415,3941,1032,647,573,1608,6280,11669,29611,...,26111,30619,34694,39686,45434,33018,24064,23818,24062,10994
1,강동구,263,1694,432,213,167,852,2507,5733,13725,...,8916,10672,13003,13183,14721,11975,8940,8470,7934,4153
2,강북구,195,2458,724,285,281,2695,4494,6736,14658,...,14043,16026,17710,18194,19599,16046,12044,10451,9322,5447
3,강서구,311,2311,549,393,301,1960,4007,7582,18281,...,14427,16884,19351,20159,23852,18635,14143,13165,12056,6178
4,관악구,255,3261,745,568,508,2335,6950,10862,24896,...,19219,22092,25785,27890,32291,27064,20948,19477,18072,10883

In [43]:
# 우선 심야버스만 필터링
night_bus_df = df_day[df_day['교통수단타입명'] == '서울심야버스']

# 중복 제거 (노선번호, 노선명, 자치구 단위로)
unique_night_routes = night_bus_df[['노선번호', '노선명', '자치구']].drop_duplicates()

# 자치구별 심야버스 노선 수 세기
gu_night_bus_count = unique_night_routes.groupby('자치구').size().reset_index(name='심야버스노선수')

# 자치구 기준으로 merge
df_gu_with_night_count = df_result.merge(gu_night_bus_count, on='자치구', how='left')

# 심야버스노선수가 없는 자치구는 0으로 채우기
df_gu_with_night_count['심야버스노선수'] = df_gu_with_night_count['심야버스노선수'].fillna(0).astype(int)
df_gu_with_night_count.head()

,자치구,정류소 수,0시,1시,2시,3시,4시,5시,6시,7시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,심야버스노선수
0,강남구,415,3941,1032,647,573,1608,6280,11669,29611,...,30619,34694,39686,45434,33018,24064,23818,24062,10994,10
1,강동구,263,1694,432,213,167,852,2507,5733,13725,...,10672,13003,13183,14721,11975,8940,8470,7934,4153,3
2,강북구,195,2458,724,285,281,2695,4494,6736,14658,...,16026,17710,18194,19599,16046,12044,10451,9322,5447,6
3,강서구,311,2311,549,393,301,1960,4007,7582,18281,...,16884,19351,20159,23852,18635,14143,13165,12056,6178,6
4,관악구,255,3261,745,568,508,2335,6950,10862,24896,...,22092,25785,27890,32291,27064,20948,19477,18072,10883,8

In [49]:
# 현재 컬럼 목록
cols = df_gu_with_night_count.columns.tolist()

# '심야버스노선수'를 3번째 자리에 삽입
cols.insert(2, cols.pop(cols.index('심야버스노선수')))

# 컬럼 순서 재정렬
df_gu_with_night_count = df_gu_with_night_count[cols]
df_gu_with_night_count

,자치구,정류소 수,심야버스노선수,0시,1시,2시,3시,4시,5시,6시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,강남구,415,10,3941,1032,647,573,1608,6280,11669,...,26111,30619,34694,39686,45434,33018,24064,23818,24062,10994
1,강동구,263,3,1694,432,213,167,852,2507,5733,...,8916,10672,13003,13183,14721,11975,8940,8470,7934,4153
2,강북구,195,6,2458,724,285,281,2695,4494,6736,...,14043,16026,17710,18194,19599,16046,12044,10451,9322,5447
3,강서구,311,6,2311,549,393,301,1960,4007,7582,...,14427,16884,19351,20159,23852,18635,14143,13165,12056,6178
4,관악구,255,8,3261,745,568,508,2335,6950,10862,...,19219,22092,25785,27890,32291,27064,20948,19477,18072,10883
5,광진구,168,7,1860,611,464,365,1034,2776,4477,...,8996,10132,11685,12521,14733,11903,9179,8614,7877,4518
6,구로구,245,6,1959,289,246,255,2379,5009,7789,...,13040,15415,17779,19572,22017,16977,12639,11861,10365,5878
7,금천구,161,4,1189,184,101,110,1833,3628,5583,...,8729,10079,11539,13709,16021,12752,8914,7994,6609,3578
8,노원구,381,6,2215,518,238,216,1352,3662,7084,...,14287,16852,19929,19882,20647,17234,13046,12238,12243,6172
9,도봉구,229,4,1733,517,196,225,1245,2754,5300,...,9518,11138,12768,13181,14730,12554,9232,7959,7203,4173
10,동대문구,257,11,3051,749,402,347,1901,5837,9589,...,20047,22323,25502,26899,29502,22383,16520,15019,13794,7922
11,동작구,141,10,1881,469,277,234,891,3754,6169,...,12609,13861,16245,18286,20994,16202,12478,12154,11672,6594
12,마포구,249,14,2970,1132,730,619,1263,3538,6016,...,15008,16790,19140,22480,26201,19239,14384,13774,12884,7424
13,서대문구,209,14,3312,711,388,295,2045,5171,8482,...,20068,23231,26243,27721,29468,21940,16933,16664,15324,8845
14,서초구,304,14,3816,1208,697,585,1371,5749,10011,...,20366,23315,27129,30890,34945,24289,18093,17401,16821,9131
15,성동구,187,7,1041,254,196,148,856,2796,3878,...,7950,9040,10059,10974,12462,9743,7334,6667,6051,3365
16,성북구,282,10,3622,785,388,293,2837,5504,8920,...,20535,23513,27063,28238,29965,24021,18515,16972,16135,9324
17,송파구,422,8,3591,939,496,354,1858,5179,10327,...,18964,22655,26619,28680,32722,24892,19399,18651,17680,9339
18,양천구,252,6,1963,285,200,146,1392,3620,7406,...,12658,14751,18311,18170,20443,16679,12428,11515,11808,5591
19,영등포구,275,10,2047,453,374,316,1865,6014,8450,...,18376,20738,23258,29189,34569,22793,18019,16711,14462,7369
20,용산구,231,14,1850,573,362,341,832,3217,5895,...,14923,17041,19513,21470,23789,17516,13625,12823,11219,5896
21,은평구,323,8,2945,807,301,233,2057,4424,9541,...,17093,20383,23834,23168,25412,21459,15874,14547,13407,7182
22,종로구,187,21,3223,1389,873,744,2132,4933,6755,...,21384,23418,25190,27773,28288,18733,14749,14307,12260,6808
23,중구,155,21,2242,1196,722,628,1405,4367,5544,...,15493,16673,17453,19620,21208,14991,12215,11147,9518,5680
24,중랑구,357,8,2230,606,327,281,2053,3785,6984,...,13381,15993,18184,18987,21459,18641,12881,11388,9797,5284

In [ ]:
df_gu_with_night_count.to_csv("../data/버스_정류장수_유동.csv")

In [50]:
import mysql.connector

gu_list = ['강남구', '강동구', '강북구', '강서구', '관악구', 
           '광진구', '구로구', '금천구', '노원구', '도봉구', 
           '동대문구', '동작구', '마포구', '서대문구', '서초구', 
           '성동구', '성북구', '송파구', '양천구', '영등포구', 
           '용산구', '은평구', '종로구', '중구', '중랑구']

conn = mysql.connector.connect(
host = "database-1.cb4o0sikaygu.ap-northeast-2.rds.amazonaws.com",
port = 3306,
user = "root",
password = "root762462",
database = "edadb"
)

In [65]:
sql = "insert into gu_info values (%s,%s)"
cursor = conn.cursor(buffered=True)

for i in range(len(gu_list)):
    cursor.execute(sql,(i,gu_list[i]))
    conn.commit()

IntegrityError: 1062 (23000): Duplicate entry '0' for key 'gu_info.PRIMARY'

In [51]:
sql = "insert into bus_population values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s, %s,%s,%s,%s,%s,%s,%s,%s,%s,%s, %s,%s,%s,%s,%s,%s,%s)"
cursor = conn.cursor(buffered=True)

In [52]:
df_db = df_gu_with_night_count.copy()
for i in range(len(gu_list)):
    df_db.iloc[i,0] = i

df_db['자치구']=df_db['자치구'].astype(int)

In [53]:
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      25 non-null     int64
 1   정류소 수    25 non-null     int64
 2   심야버스노선수  25 non-null     int64
 3   0시       25 non-null     int64
 4   1시       25 non-null     int64
 5   2시       25 non-null     int64
 6   3시       25 non-null     int64
 7   4시       25 non-null     int64
 8   5시       25 non-null     int64
 9   6시       25 non-null     int64
 10  7시       25 non-null     int64
 11  8시       25 non-null     int64
 12  9시       25 non-null     int64
 13  10시      25 non-null     int64
 14  11시      25 non-null     int64
 15  12시      25 non-null     int64
 16  13시      25 non-null     int64
 17  14시      25 non-null     int64
 18  15시      25 non-null     int64
 19  16시      25 non-null     int64
 20  17시      25 non-null     int64
 21  18시      25 non-null     int64
 22  19시      25 non-null     int64
 23  20시      25 non-null     int64
 24  21시      25 non-null     int64
 25  22시      25 non-null     int64
 26  23시      25 non-null     int64
dtypes: int64(27)
memory usage: 5.4 KB

In [54]:
import numpy as np

def convert_types(row):
    new_row = []
    for item in row:
        if isinstance(item, (np.int64, np.integer)):
            new_row.append(int(item))
        elif isinstance(item, (np.float64, np.floating)):
            new_row.append(float(item))
        else:
            new_row.append(item)
    return tuple(new_row)

data = [convert_types(row) for row in df_db.values]

In [55]:
cursor.executemany(sql, data)
conn.commit()