In [1]:
import pandas as pd

#엑셀 파일 불러오기
old = pd.read_csv('/home/dong/dev_ws/eda/project_test/p_data/등록인구2.csv', encoding='utf-8')

old

,동별(1),항목,2023 4/4,2023 4/4.1,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,2023 4/4.8
0,동별(1),항목,합계,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
1,합계,계,9638799,615216,419397,322211,229238,110645,36922,8583,1484
2,합계,한국인,9386034,609103,417048,321421,228831,110383,36809,8537,1448
3,합계,등록외국인,252765,6113,2349,790,407,262,113,46,36
4,종로구,계,150453,9511,6277,5309,4342,2324,764,202,35
...,...,...,...,...,...,...,...,...,...,...,...
74,송파구,한국인,654166,41887,27571,19105,11594,5652,2213,530,91
75,송파구,등록외국인,5859,160,51,24,8,5,2,1,-
76,강동구,계,463318,32131,21057,14611,8995,4182,1563,367,78
77,강동구,한국인,459167,32027,21014,14594,8994,4180,1562,367,77
78,강동구,등록외국인,4151,104,43,17,1,2,1,-,1

In [2]:
gu_old=old[old['항목']=='계']
gu_old

,동별(1),항목,2023 4/4,2023 4/4.1,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,2023 4/4.8
1,합계,계,9638799,615216,419397,322211,229238,110645,36922,8583,1484
4,종로구,계,150453,9511,6277,5309,4342,2324,764,202,35
7,중구,계,131793,8781,5874,4754,3693,1908,709,172,29
10,용산구,계,227106,13488,8782,7042,5672,3284,1152,267,60
13,성동구,계,284766,17347,11410,9073,6899,3429,1038,217,49
16,광진구,계,351180,20728,13377,10303,7374,3576,1138,278,45
19,동대문구,계,359873,22807,15686,12738,9569,4537,1351,285,57
22,중랑구,계,387470,28861,18949,14371,10259,4626,1465,371,53
25,성북구,계,438168,27016,18559,15132,11814,5615,1778,439,61
28,강북구,계,292977,22325,16248,13568,10265,4554,1312,295,50
31,도봉구,계,309494,24879,16236,12747,9928,4653,1572,363,58
34,노원구,계,502925,34042,22592,17158,12981,6680,2351,533,85
37,은평구,계,470869,31812,22102,17815,13369,6406,1855,401,57
40,서대문구,계,320629,19082,13019,10860,8864,4502,1425,297,64
43,마포구,계,375162,19131,13069,10815,8655,4375,1483,315,52
46,양천구,계,439252,28910,19189,13292,8676,4218,1615,350,67
49,강서구,계,568826,37716,25527,18175,11956,5914,2182,544,82
52,구로구,계,415651,28682,20137,14833,9962,4588,1400,332,50
55,금천구,계,241105,16698,11068,8257,5763,2538,815,170,33
58,영등포구,계,397800,23705,16027,12316,9054,4551,1483,310,63
61,동작구,계,389714,23737,16905,13614,9602,4684,1510,364,58
64,관악구,계,497883,28531,21227,16775,11941,5055,1514,322,53
67,서초구,계,412078,22880,16365,12722,7972,3893,1398,367,64
70,강남구,계,550282,30369,22093,16802,10031,4896,1834,491,90
73,송파구,계,660025,42047,27622,19129,11602,5657,2215,531,91
76,강동구,계,463318,32131,21057,14611,8995,4182,1563,367,78

In [3]:
gu_old=gu_old.iloc[1:]
gu_old

,동별(1),항목,2023 4/4,2023 4/4.1,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,2023 4/4.8
4,종로구,계,150453,9511,6277,5309,4342,2324,764,202,35
7,중구,계,131793,8781,5874,4754,3693,1908,709,172,29
10,용산구,계,227106,13488,8782,7042,5672,3284,1152,267,60
13,성동구,계,284766,17347,11410,9073,6899,3429,1038,217,49
16,광진구,계,351180,20728,13377,10303,7374,3576,1138,278,45
19,동대문구,계,359873,22807,15686,12738,9569,4537,1351,285,57
22,중랑구,계,387470,28861,18949,14371,10259,4626,1465,371,53
25,성북구,계,438168,27016,18559,15132,11814,5615,1778,439,61
28,강북구,계,292977,22325,16248,13568,10265,4554,1312,295,50
31,도봉구,계,309494,24879,16236,12747,9928,4653,1572,363,58
34,노원구,계,502925,34042,22592,17158,12981,6680,2351,533,85
37,은평구,계,470869,31812,22102,17815,13369,6406,1855,401,57
40,서대문구,계,320629,19082,13019,10860,8864,4502,1425,297,64
43,마포구,계,375162,19131,13069,10815,8655,4375,1483,315,52
46,양천구,계,439252,28910,19189,13292,8676,4218,1615,350,67
49,강서구,계,568826,37716,25527,18175,11956,5914,2182,544,82
52,구로구,계,415651,28682,20137,14833,9962,4588,1400,332,50
55,금천구,계,241105,16698,11068,8257,5763,2538,815,170,33
58,영등포구,계,397800,23705,16027,12316,9054,4551,1483,310,63
61,동작구,계,389714,23737,16905,13614,9602,4684,1510,364,58
64,관악구,계,497883,28531,21227,16775,11941,5055,1514,322,53
67,서초구,계,412078,22880,16365,12722,7972,3893,1398,367,64
70,강남구,계,550282,30369,22093,16802,10031,4896,1834,491,90
73,송파구,계,660025,42047,27622,19129,11602,5657,2215,531,91
76,강동구,계,463318,32131,21057,14611,8995,4182,1563,367,78

In [4]:
gu_old = gu_old.drop(columns=['항목'])
gu_old.sort_values(by='동별(1)',inplace=True)
gu_old

,동별(1),2023 4/4,2023 4/4.1,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,2023 4/4.8
70,강남구,550282,30369,22093,16802,10031,4896,1834,491,90
76,강동구,463318,32131,21057,14611,8995,4182,1563,367,78
28,강북구,292977,22325,16248,13568,10265,4554,1312,295,50
49,강서구,568826,37716,25527,18175,11956,5914,2182,544,82
64,관악구,497883,28531,21227,16775,11941,5055,1514,322,53
16,광진구,351180,20728,13377,10303,7374,3576,1138,278,45
52,구로구,415651,28682,20137,14833,9962,4588,1400,332,50
55,금천구,241105,16698,11068,8257,5763,2538,815,170,33
34,노원구,502925,34042,22592,17158,12981,6680,2351,533,85
31,도봉구,309494,24879,16236,12747,9928,4653,1572,363,58
19,동대문구,359873,22807,15686,12738,9569,4537,1351,285,57
61,동작구,389714,23737,16905,13614,9602,4684,1510,364,58
43,마포구,375162,19131,13069,10815,8655,4375,1483,315,52
40,서대문구,320629,19082,13019,10860,8864,4502,1425,297,64
67,서초구,412078,22880,16365,12722,7972,3893,1398,367,64
13,성동구,284766,17347,11410,9073,6899,3429,1038,217,49
25,성북구,438168,27016,18559,15132,11814,5615,1778,439,61
73,송파구,660025,42047,27622,19129,11602,5657,2215,531,91
46,양천구,439252,28910,19189,13292,8676,4218,1615,350,67
58,영등포구,397800,23705,16027,12316,9054,4551,1483,310,63
10,용산구,227106,13488,8782,7042,5672,3284,1152,267,60
37,은평구,470869,31812,22102,17815,13369,6406,1855,401,57
4,종로구,150453,9511,6277,5309,4342,2324,764,202,35
7,중구,131793,8781,5874,4754,3693,1908,709,172,29
22,중랑구,387470,28861,18949,14371,10259,4626,1465,371,53

In [5]:
gu_old.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 70 to 22
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   동별(1)       25 non-null     object
 1   2023 4/4    25 non-null     object
 2   2023 4/4.1  25 non-null     object
 3   2023 4/4.2  25 non-null     object
 4   2023 4/4.3  25 non-null     object
 5   2023 4/4.4  25 non-null     object
 6   2023 4/4.5  25 non-null     object
 7   2023 4/4.6  25 non-null     object
 8   2023 4/4.7  25 non-null     object
 9   2023 4/4.8  25 non-null     object
dtypes: object(10)
memory usage: 2.1+ KB

In [6]:
# '동별(1)' 컬럼을 제외한 나머지를 숫자로 바꾸기
cols_to_convert = gu_old.columns[1:]  # 첫 번째 열 제외

# 문자열을 정수로 변환
gu_old[cols_to_convert] = gu_old[cols_to_convert].apply(pd.to_numeric)

gu_old.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 70 to 22
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   동별(1)       25 non-null     object
 1   2023 4/4    25 non-null     int64
 2   2023 4/4.1  25 non-null     int64
 3   2023 4/4.2  25 non-null     int64
 4   2023 4/4.3  25 non-null     int64
 5   2023 4/4.4  25 non-null     int64
 6   2023 4/4.5  25 non-null     int64
 7   2023 4/4.6  25 non-null     int64
 8   2023 4/4.7  25 non-null     int64
 9   2023 4/4.8  25 non-null     int64
dtypes: int64(9), object(1)
memory usage: 2.1+ KB

In [7]:
sum_columns = gu_old.columns[2:]
sum_columns

Index(['2023 4/4.1', '2023 4/4.2', '2023 4/4.3', '2023 4/4.4', '2023 4/4.5',
       '2023 4/4.6', '2023 4/4.7', '2023 4/4.8'],
      dtype='object')

In [8]:
sum_columns = gu_old.columns[2:]
gu_old['65세 이상 노인']=gu_old[sum_columns].sum(axis=1)
gu_old

,동별(1),2023 4/4,2023 4/4.1,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,2023 4/4.8,65세 이상 노인
70,강남구,550282,30369,22093,16802,10031,4896,1834,491,90,86606
76,강동구,463318,32131,21057,14611,8995,4182,1563,367,78,82984
28,강북구,292977,22325,16248,13568,10265,4554,1312,295,50,68617
49,강서구,568826,37716,25527,18175,11956,5914,2182,544,82,102096
64,관악구,497883,28531,21227,16775,11941,5055,1514,322,53,85418
16,광진구,351180,20728,13377,10303,7374,3576,1138,278,45,56819
52,구로구,415651,28682,20137,14833,9962,4588,1400,332,50,79984
55,금천구,241105,16698,11068,8257,5763,2538,815,170,33,45342
34,노원구,502925,34042,22592,17158,12981,6680,2351,533,85,96422
31,도봉구,309494,24879,16236,12747,9928,4653,1572,363,58,70436
19,동대문구,359873,22807,15686,12738,9569,4537,1351,285,57,67030
61,동작구,389714,23737,16905,13614,9602,4684,1510,364,58,70474
43,마포구,375162,19131,13069,10815,8655,4375,1483,315,52,57895
40,서대문구,320629,19082,13019,10860,8864,4502,1425,297,64,58113
67,서초구,412078,22880,16365,12722,7972,3893,1398,367,64,65661
13,성동구,284766,17347,11410,9073,6899,3429,1038,217,49,49462
25,성북구,438168,27016,18559,15132,11814,5615,1778,439,61,80414
73,송파구,660025,42047,27622,19129,11602,5657,2215,531,91,108894
46,양천구,439252,28910,19189,13292,8676,4218,1615,350,67,76317
58,영등포구,397800,23705,16027,12316,9054,4551,1483,310,63,67509
10,용산구,227106,13488,8782,7042,5672,3284,1152,267,60,39747
37,은평구,470869,31812,22102,17815,13369,6406,1855,401,57,93817
4,종로구,150453,9511,6277,5309,4342,2324,764,202,35,28764
7,중구,131793,8781,5874,4754,3693,1908,709,172,29,25920
22,중랑구,387470,28861,18949,14371,10259,4626,1465,371,53,78955

In [9]:
trash_col=['2023 4/4.1', '2023 4/4.2', '2023 4/4.3',
           '2023 4/4.4', '2023 4/4.5', '2023 4/4.6', 
           '2023 4/4.7', '2023 4/4.8']

for each in trash_col:
    gu_old.drop(each, axis=1, inplace=True)

gu_old

   동별(1)  2023 4/4  65세 이상 노인
70   강남구    550282      86606
76   강동구    463318      82984
28   강북구    292977      68617
49   강서구    568826     102096
64   관악구    497883      85418
16   광진구    351180      56819
52   구로구    415651      79984
55   금천구    241105      45342
34   노원구    502925      96422
31   도봉구    309494      70436
19  동대문구    359873      67030
61   동작구    389714      70474
43   마포구    375162      57895
40  서대문구    320629      58113
67   서초구    412078      65661
13   성동구    284766      49462
25   성북구    438168      80414
73   송파구    660025     108894
46   양천구    439252      76317
58  영등포구    397800      67509
10   용산구    227106      39747
37   은평구    470869      93817
4    종로구    150453      28764
7     중구    131793      25920
22   중랑구    387470      78955

In [10]:
gu_old.rename(columns={'동별(1)':'구',
                       '2023 4/4':'구 등록인구'
                       },
                       inplace=True)

gu_old

       구  구 등록인구  65세 이상 노인
70   강남구  550282      86606
76   강동구  463318      82984
28   강북구  292977      68617
49   강서구  568826     102096
64   관악구  497883      85418
16   광진구  351180      56819
52   구로구  415651      79984
55   금천구  241105      45342
34   노원구  502925      96422
31   도봉구  309494      70436
19  동대문구  359873      67030
61   동작구  389714      70474
43   마포구  375162      57895
40  서대문구  320629      58113
67   서초구  412078      65661
13   성동구  284766      49462
25   성북구  438168      80414
73   송파구  660025     108894
46   양천구  439252      76317
58  영등포구  397800      67509
10   용산구  227106      39747
37   은평구  470869      93817
4    종로구  150453      28764
7     중구  131793      25920
22   중랑구  387470      78955

In [11]:
df_gu_old=gu_old.reset_index(drop=True)
df_gu_old

       구  구 등록인구  65세 이상 노인
0    강남구  550282      86606
1    강동구  463318      82984
2    강북구  292977      68617
3    강서구  568826     102096
4    관악구  497883      85418
5    광진구  351180      56819
6    구로구  415651      79984
7    금천구  241105      45342
8    노원구  502925      96422
9    도봉구  309494      70436
10  동대문구  359873      67030
11   동작구  389714      70474
12   마포구  375162      57895
13  서대문구  320629      58113
14   서초구  412078      65661
15   성동구  284766      49462
16   성북구  438168      80414
17   송파구  660025     108894
18   양천구  439252      76317
19  영등포구  397800      67509
20   용산구  227106      39747
21   은평구  470869      93817
22   종로구  150453      28764
23    중구  131793      25920
24   중랑구  387470      78955

In [12]:
df_gu_old.to_csv("구별_등록인구2.csv", index=False, encoding='utf-8')

In [19]:
df_gu_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구          25 non-null     object
 1   구 등록인구     25 non-null     int64
 2   65세 이상 노인  25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 728.0+ bytes

-----------------------------
# 구를 sort_value로 정렬하고, 구를 구_ID로 바꾼다

In [13]:
df_gu_old

       구  구 등록인구  65세 이상 노인
0    강남구  550282      86606
1    강동구  463318      82984
2    강북구  292977      68617
3    강서구  568826     102096
4    관악구  497883      85418
5    광진구  351180      56819
6    구로구  415651      79984
7    금천구  241105      45342
8    노원구  502925      96422
9    도봉구  309494      70436
10  동대문구  359873      67030
11   동작구  389714      70474
12   마포구  375162      57895
13  서대문구  320629      58113
14   서초구  412078      65661
15   성동구  284766      49462
16   성북구  438168      80414
17   송파구  660025     108894
18   양천구  439252      76317
19  영등포구  397800      67509
20   용산구  227106      39747
21   은평구  470869      93817
22   종로구  150453      28764
23    중구  131793      25920
24   중랑구  387470      78955

In [14]:
import mysql.connector

gu_list = ['강남구', '강동구', '강북구', '강서구', '관악구', 
           '광진구', '구로구', '금천구', '노원구', '도봉구', 
           '동대문구', '동작구', '마포구', '서대문구', '서초구', 
           '성동구', '성북구', '송파구', '양천구', '영등포구', 
           '용산구', '은평구', '종로구', '중구', '중랑구']

conn = mysql.connector.connect(
host = "database-1.cb4o0sikaygu.ap-northeast-2.rds.amazonaws.com",
port = 3306,
user = "root",
password = "root762462",
database = "edadb"
)

In [16]:
df_db = df_gu_old.copy()
for i in range(len(gu_list)):
    df_db.iloc[i,0] = i

df_db['구']=df_db['구'].astype(int)

-------------
# 테이블 수정

In [17]:
#바꿀 테이블로 이름 바꾸기.
sql = "insert into gu_population values (%s,%s,%s)"
cursor = conn.cursor(buffered=True)

In [18]:
import numpy as np

def convert_types(row):
    new_row = []
    for item in row:
        if isinstance(item, (np.int64, np.integer)):
            new_row.append(int(item))
        elif isinstance(item, (np.float64, np.floating)):
            new_row.append(float(item))
        else:
            new_row.append(item)
    return tuple(new_row)

data = [convert_types(row) for row in df_db.values]

cursor.executemany(sql, data)
conn.commit()